<mat-card >
    <mat-card-content>
  <p><i class="material-icons">check
</i>
<strong>    Programação Web :</strong>  PHP-Laravel, Java Spring, VueJs, Angular, Angular js e 
Node.js e Sistemas de gestão de conteúdo (Wordpress)</p>

<p><i class="material-icons">check
</i>
<strong>Base de dados: </strong>  MySQL, SQLite e Oracle</p> 
<p><i class="material-icons">check
</i>
<strong>Engenharia de Software:</strong> Arquitetura do design estrutural de software, 
    modelagem UML e desenvolvimento de Software por meio de <strong>metodologias 
    ágeis (Scrum).</strong></p> 
<p><i class="material-icons">check
</i>
<strong>Gestão de projetos:</strong> Trello, Microsoft project e Azure DevOps;</p> 
<p><i class="material-icons">check
</i>
<strong>Versionamento</strong> Github, GitLab</p> 
<strong><i class="material-icons">check
</i>Curriculum vitae</strong>
<a href="https://drive.google.com/drive/folders/1mt_-Yo5p-v-iRj9ezn4WSUTNCyohEW7J?usp=sharing">
    <i class="material-icons">file_download

    </i></a>

    </mat-card-content>


</mat-card>


