<mat-card  class="mat-card">
    <mat-card-title> Romario Monjane </mat-card-title>
    
    <mat-card-content class="mat-card-content">
  <div>
        <img src="assets/romario.jpg" alt="imagem romario monjane" height="300" width="300" class="img">
  </div> 
<div class="sep">
    <p><strong>Apelido: </strong>Monjane</p>

    <p><strong>Nome: </strong>Romario Alexandre</p>
    
    <p><strong>Data de Nascimento: </strong>20 de Abril de 1998</p>
    
    <p><strong>Residencia: </strong>Maputo cidade</p>
    <p><strong>Data: </strong>{{mydate| date}}</p>
    
    

</div>        
     


    </mat-card-content>

</mat-card>
