 
<mat-card >
    
    <mat-card-content>
      <p><strong><i class="material-icons">check
    </i>2018 e 2019: Monitor universitário na faculdade de engenharia da Universidade 
    Eduardo Mondlane (Disciplina de Análise de circuitos)</strong>  </p>

    <p><strong><i class="material-icons">check
    </i>2020 (de fevereiro a abril) Instituo nacional de Comunicações de Moçambique
    (Departamento de sistemas de informação como administrador de redes, 
    programador web e help-desk)</strong>  </p>

    
    <p><strong><i class="material-icons">check
    </i>2021(abril-julho) Instituto nacional do governo eletrónico, como programador webfull stack
</strong>  </p>


    </mat-card-content>


</mat-card>
 
<mat-card >
    <mat-card-title>Artigo criados</mat-card-title>    
    <mat-card-content class="dis">
        <strong><i class="material-icons">chat
        </i>
      <a href="https://medium.com/@romariomondlane88/autenticação-no-java-spring-security-jpa-angular-material-2e7b2bc9c78a">Autenticação no Java Spring Security-JPA, Angular-material</a>  
</strong>
<strong><i class="material-icons">chat
</i><a href="
https://medium.com/@romariomondlane88/definir-e-carregar-ler-imagens-no-java-spring-927b874684ae">Definir e carregar/ler imagens no Java Spring</a></strong>




    </mat-card-content>


</mat-card>
